<!-- <html>
    <head><title>
        <%= title%></title>
    </head>
    <body>
         <header> 
            page header 
        </header> -->
        <!-- <%- include('_header');%> -->

        <h1> codial / <%=title%></h1>
        <!-- <footer> page footer </footer> -->
<!-- 
         <%- include('_footer');%>
    </body>
</html> -->